# - - - - - - - - - - - - - #
#    Variables to change    #
# - - - - - - - - - - - - - #

# Game name
GAME_NAME = PWAA


# - - - - - - - - - - - - -
# Programs location

# CA65 executable locations
CA65 = ca65

# LD65 executable locations
LD65 = ld65

# Emulator executable location
EMULATOR = mesen

# Hexdump executable location
HEXDUMP = hexdump

# Python executable location
PYTHON = python

# Natural Doc executable location
NATURALDOC = NaturalDocs

# Famistudio executable location
FAMISTUDIO = FamiStudio

# - - - - - - - - - - - - -
# Folders location

# Bin folder for binary output
BIN = bin

# Folder with assembler sources files
ASM = asm

# Folder with game ressources
DATA = data

C = c

PY = py

# - - - - - - - - - - - - -
# Ressources location

# folder with the text of the game
TEXT_FOLDER = data/text/txt

# output text file with all dialogs
TEXT = data/text/pwaa_nes_dialog.txt

# FamiStudio file inside data folder with all the game music
MUSIC = pwaa_all.fms

#
EVIDENCE = data/evidences.json
