# VS Code
.vscode/

# Python
__pycache__

# C
c/*.chr
c/*.exe
c/out/
c/tmp

# Natural Doc
cfg/nd/Working Data/
doc/html

# Other
ignore/
bin/
dump_*.txt
*.dbg
*.tags
EVI.chr
tmp.chr
FONT.chr
visual.png
const_info.txt
tmp.png
asm/data/img/all.chr
